@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
<div>
    <input type="text" class="form-control" name="LoginName" id="loginname" value="@Model.LoginName" />

    <input type="password" class="form-control" name="LoginPassword" id="loginpassword" value="@Model.LoginPassword" />
    <button type="submit">Login</button>
</div>
}
